<!doctype html>
<html lang="en">
<head>
	<title>Volumetric Light</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<script src="/threejs/three.min.js"></script>
	<script src="/threejs/Detector.js"></script>
	<script src="/threejs/Stats.js"></script>
	<script src="/threejs/OrbitControls.js"></script>

	<script src="/threejs/modifiers/BufferSubdivisionModifier.js"></script>
	<script src="/threejs/postprocessing/EffectComposer.js"></script>
	<script src="/threejs/postprocessing/RenderPass.js"></script>
	<script src="/threejs/postprocessing/MaskPass.js"></script>
	<script src="/threejs/postprocessing/ShaderPass.js"></script>
	<script src="/threejs/shaders/CopyShader.js"></script>
	<script src="/threejs/shaders/FXAAShader.js"></script>
	<script src="/threejs/shaders/ConvolutionShader.js"></script>
	<script src="/threejs/shaders/LuminosityHighPassShader.js"></script>
	<script src="/threejs/postprocessing/UnrealBloomPass.js"></script>

	<!-- Fire -->
	<script src="/javascripts/FireShader.js"></script>
	<script src="/javascripts/Fire.js"></script>

  <div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
  
  <script src="/javascripts/Shaders.js"></script>
  <script src="/javascripts/volumetric.js"></script>

</body>
</html>
